:root {
    --peach: #E7816B;
    --black: #1D1C1E;
    --white: #FFFFFF;
    --light-peach: #FFAD98;
    --dark-gray: #333136;
    --light-gray: #F1F3F5;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Jost', sans-serif;


}

.container {
    max-width: 1111px;
    width: 100%;
    margin: 64px auto;
    position: relative;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-links {
    display: flex;
    align-items: center;
    gap: 42px;

}

.header-links a {
    text-decoration: none;
    font-size: 14px;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 2px;
    color: var(--dark-gray);
    transition: all 0.5s;
    cursor: pointer;

}

.dropdown-content {
    display: flex;
    align-items: center;
    gap: 42px;
}

.dropbtn {
    display: none;
}

.header-links a:hover {
    border-bottom: 1px solid #000000;
}

.hero {
    display: flex;
    align-items: end;
    flex-wrap: wrap;
    gap: 96px;
    background-color: var(--peach);
    border-radius: 15px;

    background-image: url(../images/hero-backg.png);
    background-repeat: no-repeat;
    background-position: right;
    z-index: 2;
    position: relative;

}

.hero-desc {
    width: 540px;
    margin-top: 145px;
    margin-left: 85px;
}

.hero-title {
    color: var(--white);
    font-size: 48px;
    font-weight: 500;
    line-height: 48px;
    margin-bottom: 11px;

}

.hero-desc p {
    color: var(--white);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin-bottom: 40px;

}

.hero button {
    padding-top: 18px;
    padding-left: 24px;
    padding-right: 25px;
    padding-bottom: 16px;
    margin-bottom: 161px;
    border-radius: 8px;
    border: none;
    font-size: 15px;
    font-weight: 500;
    line-height: 21.68px;
    color: var(--dark-gray);
    background-color: var(--white);
    transition: all 0.5s;

}

.hero button:hover {
    background-color: var(--light-peach);
    color: var(--white);
}

.hero-img picture {
    box-shadow: 20px -40px 80px 0px #5D02027F;

}

.main-servis {
    margin-top: 160px;
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto auto auto;
    column-gap: 30px;
    row-gap: 24px;
    position: relative;
    z-index: 3;

}


.web-design {
    height: 640px;
    width: 541px;
    background-image: url(../images/main.bcg.png);
    background-size: contain;
    background-repeat: no-repeat;
    grid-row: span 2;
    align-content: center;
    display: grid;
    justify-content: center;
}

.app-design {
    height: 308px;
    width: 541px;
    background-image: url(../images/main.bcg1.png);
    background-size: contain;
    background-repeat: no-repeat;
    align-content: center;
    display: grid;
    justify-content: center;

}

.graphig-design {
    height: 308px;
    width: 541px;
    background-image: url(../images/main.bcg3.png);
    background-size: contain;
    background-repeat: no-repeat;
    grid-column: span 3;
    align-content: center;
    display: grid;
    justify-content: center;


}

.main-servis h2 {

    font-size: 40px;
    font-weight: 500;
    line-height: 48px;
    letter-spacing: 2px;
    color: var(--white);

}

.main-servis p {

    margin-top: 24px;
    color: var(--white);
    font-size: 15px;
    font-weight: 500;
    line-height: 21.68px;
    text-align: center;


}

.main-servis p::after {
    content: url(../images/p-after.svg);
    padding: 21px;
}

.design-card {
    cursor: pointer;
    position: relative;
    transition: all 0.5s;
}

.design-card:hover::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--peach);
    opacity: 0.5;
}

.body-image {
    position: absolute;
    top: -300px;
    right: 450px;
    z-index: 1;
}

.content-card {
    position: relative;
    z-index: 4;
}

.content-wrapper {
    margin-top: 160px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: -250px;
    padding-bottom: 500px;
    position: relative;
    z-index: 2;


}

.content-card {
    text-align: center;

}

.content-title {
    font-size: 20px;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 5px;
    text-align: center;
    color: var(--dark-gray);
    margin-top: 48px;
    margin-bottom: 32px;

}

.content-desc {
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    color: var(--dark-gray);
    width: 350px;

}

.main-bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;

    background-color: var(--peach);
    padding: 72px 95px;
    width: 100%;
    background-image: url(../images/main-bottom-bacg.png);
    background-repeat: no-repeat;
    background-position: right center;
    border-radius: 15px;
    margin-top: 160px;
    position: absolute;
    z-index: 2;
    bottom: 100px;
    right: 10px;
}

.main-bottom-title {
    font-size: 40px;
    font-weight: 500;
    line-height: 40px;
    text-align: left;
    color: var(--white);
    width: 269px;
    margin-bottom: 5px;

}

.main-bottom p {
    color: var(--white);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    text-align: left;
    width: 450px;


}

.bottom-button {
    padding: 17px 19px;
    font-size: 15px;
    font-weight: 500;
    line-height: 21.68px;
    color: var(--dark-gray);
    background-color: var(--white);
    border: none;
    border-radius: 8px;
    transition: all 0.5s;

}

.bottom-button:hover {
    background-color: var(--light-peach);
    color: var(--white);
}

.footer {
    background-color: var(--black);
    margin-bottom: -64px;
    position: relative;
    z-index: 1;
}

.footer-container {
    padding-top: 144px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid var(--white);
    padding-bottom: 40px;
    opacity: 50%;


}

.footer-content a {
    color: var(--white);
}

.footer-bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer-bottom p {
    opacity: 50%;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    color: var(--white);


}

.icons {
    margin-top: 48px;
    display: flex;
    align-items: center;
    gap: 16px;
}

.bottom-image {
    position: absolute;
    margin-left: 269px;
    margin-top: 200px;
    margin-bottom: -200px;

    z-index: 1;

}



@media screen and (max-width:1111px) {
    .container {
        padding-right: 15px;
        padding-left: 15px;
    }

    .hero {
        gap: 50px;
    }

    .main-servis {
        display: grid;
        gap: 15px;
    }
}

@media screen and (max-width:992px) {
    .hero {
        text-align: center;
        align-items: center;
        justify-content: center;
        gap: 0;
    }

    .hero-desc {
        margin-top: 60px;
        margin-left: 56px;
        margin-right: 56px;
    }

    .hero-desc p {
        margin-bottom: 0;
    }

    .hero button {
        margin-top: 37px;
        margin-bottom: 69px;
    }



    .main-servis {
        display: block;

        gap: 15px;
    }

    .content-wrapper {
        display: block;

    }

    .content-card {
        display: flex;
        align-items: center;
        gap: 42px;
        text-align: left;
        margin-top: 32px;

    }

    .content-title {
        text-align: left;
        margin-top: 0px;
        margin-bottom: 16px;
        width: 439px;
    }

    .body-image {
        display: none;
    }

    .bottom-image {
        display: none;
    }


}

@media screen and (max-width:768px) {
    .web-design {
        height: 200px;
        width: 689px;
        background-image: url(../images/web-tablet.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        margin-bottom: 24px;
        align-content: center;
        display: grid;
        justify-content: center;
    }

    .app-design {
        height: 200px;
        width: 689px;
        background-image: url(../images/app-tablet.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        align-content: center;
        display: grid;
        justify-content: center;

    }

    .graphig-design {
        height: 200px;
        width: 689px;
        background-image: url(../images/graphig-tablet.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        margin-top: 24px;
        align-content: center;
        display: grid;
        justify-content: center;


    }

    .main-bottom {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;
        align-items: center;
        background-size: cover;

    }

    .main-bottom-title {
        text-align: center;

        margin-bottom: 10px;
        margin-left: 50px;

    }

    .main-bottom p {
        text-align: center;
        width: 450px;
        margin-bottom: 32px;
    }

    .footer-bottom {
        display: flex;
        flex-wrap: wrap;
        text-align: center;


    }

    .footer-desc {
        width: 300px;
    }

    .icons {
        margin-left: 50px;
        text-align: center;
        width: 80%;
    }

}

@media screen and (max-width:576px) {
    .header {
        width: 90%;
    }
    .hero {
        width: 100%;
        border-radius: 0;
        background-position: left;

    }

    .hero-title {

        font-size: 32px;
        line-height: 36px;
        margin-bottom: 14px;

    }

    .hero-desc p {

        font-size: 15px;
        line-height: 25px;
        margin-bottom: 24px;

    }

    .hero button {
        margin-top: 0;
        margin-bottom: 0px;
    }

    .dropbtn {
        color: black;
        border: none;
        cursor: pointer;
        display: block;
    }

    .dropdown {
        position: relative;
        display: block;
    }

    .dropdown-content {
        display: none;
        position: absolute;
        background-color: var(--light-gray);
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 1;
        right: 0;
        transition: all 0.5s;
    }

    .dropdown-content a {
        color: rgb(218, 198, 198);
        padding: 12px 16px;
        text-decoration: none;
        display: block;

    }

    .dropdown-content a:hover {
        background-color: var(--light-peach);
    }

    .dropdown:hover .dropdown-content {
        z-index: 5;
        display: block;
        background-color: #fff;
    }
    .main-servis{
        grid-template-columns: auto;
        grid-template-rows: auto;
    }

    .web-design {
        height: 200px;
        width: 327px;
        background-image: url(../images/web-phone.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        margin-bottom: 24px;
        align-content: center;
        display: grid;
        grid-column: span 1;
        justify-content: center;
    }

    .app-design {
        height: 200px;
        width: 327px;
        background-image: url(../images/app-phone.png);
        background-size: cover;
        background-repeat: no-repeat;
        align-content: center;
        display: grid;
        grid-column: span 1;
        justify-content: center;

    }

    .graphig-design {
        height: 200px;
        width: 327px;
        background-image: url(../images/graphig-phone.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        margin-top: 24px;
        align-content: center;
        display: grid;
        grid-column: span 1;
        justify-content: center;


    }

    .design-card h2 {
        font-size: 28px;
        font-weight: 500;
        line-height: 36px;
        letter-spacing: 1.399999976158142px;
        text-align: center;


    }

    .design-card p {

        font-size: 15px;
        font-weight: 500;
        line-height: 21.68px;
        letter-spacing: 5px;
    }

    .design-card {
        margin-left: 20px;
    }

    .main-bottom p {
        width: 350px;
    }

    .content-card {
        display: block;
        text-align: center;
    }

    .content-title {
        text-align: center;
        width: 90%;
        margin-top: 42px;
        margin-bottom: 32px;

    }

    .content-desc {
        text-align: center;
        width: 90%px;
        
    }

    .content-desc:last-child {
        margin-bottom: 121px;
    }

    .content-wrapper {
        text-align: center;
    }

    .footer {}
}